.canvas, .vertices {
	position: relative
}

.canvas {
	height: 200px;
}

.vertices {
    display: flex;
    flex-grow: 1;
    position: relative;
    background: transparent;
    flex-direction: row;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.vertex {
	padding: 20px;
    margin: 5px;
}